@{
    ViewBag.Title = "EventHub monitor";
}

<div class="container">
    <div class="jumbotron">
        <h2>EventHub monitor</h2>
    </div>
    
    <div><input type="button" id="cmdRefresh" class="btn btn-info" value="Refresh" /></div>
    <div>
        <br>
        <textarea class="form-control" style="height:100px;" id="mySpanTag"></textarea>
    </div>
</div>


@section JavaScript{
    <script>
        $(function () {
            var myHubProxy = $.connection.monitorHub;
            myHubProxy.client.showMessageOnClient = function (data) {
                $('#mySpanTag').val(data);
            };

            $.connection.hub.start(function () {
                myHubProxy.server.sendMessage("Hello World!");
            });

            $('#cmdRefresh').click(function () {
                myHubProxy.server.refreshData();
            });
        });
    </script>
}
