@{
    ViewBag.Title = "EventHub monitor";
}

<div class="container">
    <div class="jumbotron">
        <h2>EventHub monitor</h2>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <input type="button" id="cmdStop" class="btn btn-danger" value="Stop" />
        </div>
        <div class="col-sm-6">
            @*<input type="button" id="cmdPing" class="btn btn-warning pull-right" value="Ping intel edison device" />*@
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <br />
            <textarea class="form-control" style="height:100px;" id="mySpanTag"></textarea>
        </div>
    </div>
</div>


@section JavaScript{
    <script>
        $(function () {
            var welcomeMessage = "Receiving should start soon. Please wait a little, it can take up to minute...";
            var closingMessage = "Closing... Refresh page (F5) to start receiving once more.";
            var myHubProxy = $.connection.monitorHub;

            $("#cmdStop").prop("disabled", true);

            myHubProxy.client.showMessageOnClient = function (data) {
                $('#mySpanTag').val(data);
                if ($('#mySpanTag').val() == 'XClose') {
                    $('#mySpanTag').val(closingMessage);
                }
                if ($('#mySpanTag').val() != welcomeMessage && $('#mySpanTag').val() != closingMessage) {
                    $("#cmdStop").prop("disabled", false);
                }
            };
        
            
            $.connection.hub.start(function () {
                $('#mySpanTag').val(welcomeMessage);
                myHubProxy.server.start();
            });


            $('#cmdStop').click(function () {
                myHubProxy.server.stop();
                $("#cmdStop").prop("disabled", true);
            });

        });
    </script>
}
